
/*FONTES*/
@font-face {
  font-family: Segundo;
  src: url('../font/chromium-one-std.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Terceiro;
  src: url('../font/genty-regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Quatro;
  src: url('../font/cooper-black-bt.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}
/*geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/banner_segundario.png");
}

/*MENU*/
.container-menu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    max-width: 1200px;

    background: url('../img/barra.menu_cabeçalho.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    padding: 15px 0;
    text-align: center;
    z-index: 10;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu a img {
    width: 20px;
    margin-right: 10px;
}

.menu  {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;

    white-space: nowrap;
    flex-wrap: nowrap;
}

.menu a {
    text-decoration: none;
    color: #E04FFF;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
    font-family: 'Terceiro', sans-serif;
}

.menu li:hover {
    transform: scale(1.1);
}

/*RODAPE*/
.rodape {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    max-width: 1200px;

    background: url('../img/barra.menu_cabeçalho.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    padding: 15px 0;
    text-align: center;
    z-index: 10;
}

h2 {
    color: #E04FFF;
    font-family: 'Terceiro', sans-serif;
    text-align: center;
    font-size: 40px;
}

/*formulario*/
.formulario img {
    width: 180px;
    height: auto;
    display: block;
    align-items: left center;
    margin: 120px auto 20px auto;
    border-radius: 20px;
}

.contato {
    width: 100%;
    max-width: 400px;
    margin: -20px auto 0 auto; /* SUBIU 20px */
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-bottom: 40px;
}


.contato a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: 'Terceiro', sans-serif;
    font-size: 18px;  /* menor */
    color: #E04FFF;
}


.contato img {
    width: 40px;
    margin-bottom: 5px;
    margin-top: 40px;
    transition: all 0.3s ease;
}

.contato a:hover img {
    transform: scale(1.2);
}

