/*FONTES*/
@font-face {
  font-family: Segundo;
  src: url('../font/chromium-one-std.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Terceiro;
  src: url('../font/genty-regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Quatro;
  src: url('../font/cooper-black-bt.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/banner_segundario.png");
}

/*MENU*/
.container-menu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    max-width: 1200px;

    background: url('../img/barra.menu_cabeçalho.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    padding: 15px 0;
    text-align: center;
    z-index: 10;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu a img {
    width: 20px;
    margin-right: 10px;
}

.menu  {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;

    white-space: nowrap;
    flex-wrap: nowrap;
}

.menu a {
    text-decoration: none;
    color: #E04FFF;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
    font-family: 'Terceiro', sans-serif;
}

.menu li:hover {
    transform: scale(1.1);
}

/*RODAPE*/
/*.rodape {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    max-width: 1200px;

    background: url('../img/barra.menu_cabeçalho.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    padding: 15px 0;
    text-align: center;
    z-index: 10;
}*/

/*CONTEUDO SOBRE MIM*/
.sobre-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

/*H2 titulo*/
.titulo {
    margin-bottom: 30px;
    font-size: 40px;
    margin-top: 50px;
    padding: 0;
    color: #E04FFF;
    font-family: 'Terceiro', sans-serif;
}

/*lado a lado*/
.conteudo-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    background: rgba(164, 246, 252, 0.699);
    border-radius: 20px;
}

/*texto*/
.texto {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Quatro', sans-serif;
    color: #FF69B4;
}

/*Foto*/
.foto img {
    width: 280px;
    border-radius: 15px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}
