body {
    background: #ff9999 url("../img/banner_home.png"); 
    text-align: center;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-info {
    display: flex;
    bottom: 20px;  
    right: 50px;  
    text-align: center;
}

.container-info h1 {
    font-family: 'Primeiro', sans-serif;
    color: #E04FFF;
    font-size: 150px;
    margin: 0;
}

.container-info h4 {
    font-family: 'Segundo', sans-serif;
    color: #ffffff;
    font-size: 40px;
    margin-top: 10px;
}

.texto {
    margin-top: 200px;
    margin-left: 120px;
}

.btn {
    width: 280px;
    height: auto;
    transition: all 0.3s ease;
}

/*fim das informações*/
/*foto principal*/


.foto-principal img {
    width: 300px;
    height: auto;
    margin-top: 150px;
    margin-left: 170px;
}

.btn:hover {
    transform: scale(1.1);
}
@font-face {
  font-family: Primeiro;
  src: url('../font/nickainley.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Segundo;
  src: url('../font/chromium-one-std.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

/* TELAS MÉDIAS – tablets */
@media (max-width: 992px) {

    body {
        background-size: cover;
        background-attachment: scroll;
    }

    .container-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container-info h1 {
        font-size: 90px;
    }

    .container-info h4 {
        font-size: 28px;
    }

    .texto {
        margin-top: 120px;
        margin-left: 0;
    }

    .foto-principal img {
        width: 240px;
        margin-left: 0;
        margin-top: 80px;
    }
}

/* TELAS PEQUENAS – celulares */
@media (max-width: 600px) {

    body {
        background-size: cover;
        background-attachment: scroll;
        overflow-x: hidden;
    }

    .container-info {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .container-info h1 {
        font-size: 60px;
    }

    .container-info h4 {
        font-size: 22px;
        margin-top: 5px;
    }

    .texto {
        margin-top: 80px;
        margin-left: 0;
    }

    .btn {
        width: 220px;
    }

    .foto-principal img {
        width: 200px;
        margin-top: 50px;
        margin-left: 0;
    }
}
